@model IEnumerable<SearchResultDto>

@{
    ViewBag.Title = "ShowResults";
}

@{ await Html.RenderPartialAsync("Index");}

@if (Model.Any())
{
    <div class="found-search-system">@Model.FirstOrDefault()?.BrowserType</div>
}
<ol>
    @foreach (var result in Model)
    {
        await Html.RenderPartialAsync("_SnippetBlock", result);
    }
</ol>
